# ── Environment ───────────────────────────────────────────────────────────────
.env
*.env.local

# ── Node / NPM ─────────────────────────────────────────────────────────────────
node_modules/
npm-debug.log*
yarn-error.log

# ── NestJS / Backend ──────────────────────────────────────────────────────────
backend/dist/
backend/node_modules/

# ── Angular / Nx / Frontend ───────────────────────────────────────────────────
frontend/dist/
frontend/node_modules/
frontend/.angular/cache/
frontend/.nx/cache/
frontend/.nx/workspace-data/

# ── Docker ────────────────────────────────────────────────────────────────────
# keep Dockerfiles and docker-compose.yml but ignore local overrides
docker-compose.override.yml

# ── OS ────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ── IDE ───────────────────────────────────────────────────────────────────────
.vscode/settings.json
.idea/
*.suo
*.user
